.Pokedex {
    display: flex;
    flex-wrap: wrap;
    background-color: #D8F2A0;
    min-height: 80vh;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Podedex-title{
    display: block;
    width: 100%;
}

@media screen and (max-width: 800px){
    .Pokedex {
        flex-direction: column;
    }
}